/*
 * Catppuccin colors for waybar.
 * Author: Krishal
 * Github: github.com/ikrsx
 * Credit: github.com/catppuccin
 * Useage: use this file to create
 * a colorscheme for waybar.
*/

@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color orange #fab387;
@define-color blue #89b4fa;
@define-color grey #585b70;
@define-color text #cdd6f4;
@define-color base #1e1e2e;
@define-color crust #11111b;
