/*
 * Configuration file for Niri window manager.
 * Author: Krishal
 * Github: github.com/ikrsx
*/

/**** Input device configuration. ****/
input {
    keyboard {
        xkb {
            // Set keyboard layout.
            layout "gb"
        }
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Libinput settings.
    touchpad {
        tap
        dwt
        natural-scroll
    }

    // Make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus
}

/**** Settings that influence how windows are positioned and sized. ****/
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // When to center a column when changing focus, options are:
    center-focused-column "never"

    // Customize the widths that "switch-preset-column-width" (Mod+D) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // Default width of the new windows.
    default-column-width { proportion 0.5; }

    // Change how the focus ring looks.
    focus-ring {
        // How many logical pixels the ring extends out from the windows.
        width 4

        // Catppuiccin colors for rings.
        active-color "#cba6f7"
        inactive-color "#11111b00"
    }
}

/**** Spawn processes at startup. ****/
spawn-sh-at-startup "sh ~/.config/niri/scripts/idle_manager.sh"
spawn-at-startup "waybar"
spawn-at-startup "hyprpaper"

// Ask the clients to omit their client-side decorations if possible.
prefer-no-csd

// Change the path where screenshots are saved.
screenshot-path "~/workstation/gallery/screenshots/screenshot_from_%Y-%m-%d_%H-%M-%S.png"

/**** Window rules ****/

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

/**** Keybindings for Niri. ****/
binds {
    // Shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+R hotkey-overlay-title="Run an Application: rofi" { spawn-sh "rofi -show drun -theme styles/launcher.rasi"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }

    // Volume keys mappings for PipeWire & WirePlumber.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Media keys mapping using playerctl.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    // Change window focus using vim keymaps.
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    // Move window using vim keymaps.
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // Change window focus between monitors using vim keymaps.
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    // Move window focus between monitors using vim keymaps.
    Mod+Ctrl+Shift+H     { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+J     { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+K     { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+L     { move-column-to-monitor-right; }

    // Bind mouse wheel scroll ticks.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Resize the current window as per defined propotions.
    Mod+D { switch-preset-column-width; }
    Mod+Shift+D { reset-window-height; }
    Mod+Ctrl+D { switch-preset-window-height; }

    // Maximize or go fullscreen for current window.
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Finer width adjustments for window size.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Screenshot keybindings.
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { spawn-sh "sh ~/.config/rofi/scripts/sessionmenu.sh"; }

    // Powers off the monitors.
    Mod+Shift+P { power-off-monitors; }
}
