binds {
    Mod+Shift+Slash hotkey-overlay-title="Show keyboard shortcuts" { show-hotkey-overlay; }

    Mod+B hotkey-overlay-title="Launch Firefox" { spawn "firefox"; }
    Mod+E hotkey-overlay-title="Launch Nautilus file manager" { spawn "nautilus"; }
    Mod+T hotkey-overlay-title="Launch Alacritty terminal" { spawn "alacritty"; }
    Mod+R hotkey-overlay-title="Open DMS Launcher" { spawn-sh "dms ipc call launcher open"; }
    Mod+S hotkey-overlay-title="Open DMS Settings" { spawn-sh "dms ipc call settings open"; }
    Super+Alt+L hotkey-overlay-title="Lock screen" { spawn-sh "dms ipc call lock lock"; }

    XF86AudioRaiseVolume hotkey-overlay-title="Increase volume" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume hotkey-overlay-title="Decrease volume" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute hotkey-overlay-title="Toggle speaker mute" allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute hotkey-overlay-title="Toggle microphone mute" allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp hotkey-overlay-title="Increase screen brightness" allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown hotkey-overlay-title="Decrease screen brightness" allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O hotkey-overlay-title="Toggle overview" repeat=false { toggle-overview; }

    Mod+Q hotkey-overlay-title="Close focused window" repeat=false { close-window; }

    Mod+H hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+J hotkey-overlay-title="Focus window/workspace below" { focus-window-or-workspace-down; }
    Mod+K hotkey-overlay-title="Focus window/workspace above" { focus-window-or-workspace-up; }
    Mod+L hotkey-overlay-title="Focus column right" { focus-column-right; }

    Mod+Shift+H hotkey-overlay-title="Move window left in column" { move-column-left; }
    Mod+Shift+J hotkey-overlay-title="Move window to lower workspace" { move-window-down-or-to-workspace-down; }
    Mod+Shift+K hotkey-overlay-title="Move window to upper workspace" { move-window-up-or-to-workspace-up; }
    Mod+Shift+L hotkey-overlay-title="Move window right in column" { move-column-right; }

    Mod+WheelScrollDown hotkey-overlay-title="Switch to next workspace" cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp hotkey-overlay-title="Switch to previous workspace" cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown hotkey-overlay-title="Move column to next workspace" cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp hotkey-overlay-title="Move column to previous workspace" cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight hotkey-overlay-title="Focus column right" { focus-column-right; }
    Mod+WheelScrollLeft hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+Shift+WheelScrollRight hotkey-overlay-title="Move column right" { move-column-right; }
    Mod+Shift+WheelScrollLeft hotkey-overlay-title="Move column left" { move-column-left; }

    Mod+BracketLeft hotkey-overlay-title="Consume or expel window left" { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="Consume or expel window right" { consume-or-expel-window-right; }

    Mod+Comma hotkey-overlay-title="Merge window into column" { consume-window-into-column; }

    Mod+Period hotkey-overlay-title="Extract window from column" { expel-window-from-column; }

    Mod+D hotkey-overlay-title="Cycle column widths" { switch-preset-column-width; }
    Mod+Shift+D hotkey-overlay-title="Cycle window heights" { switch-preset-window-height; }
    Mod+Ctrl+D hotkey-overlay-title="Reset window height" { reset-window-height; }

    Mod+F hotkey-overlay-title="Maximize column" { maximize-column; }

    Mod+Shift+F hotkey-overlay-title="Toggle fullscreen" { fullscreen-window; }

    Mod+Ctrl+F hotkey-overlay-title="Expand column to available width" { expand-column-to-available-width; }

    Mod+C hotkey-overlay-title="Center visible columns" { center-visible-columns; }

    Mod+Minus hotkey-overlay-title="Decrease column width" { set-column-width "-10%"; }
    Mod+Equal hotkey-overlay-title="Increase column width" { set-column-width "+10%"; }

    Mod+Shift+Minus hotkey-overlay-title="Decrease window height" { set-window-height "-10%"; }
    Mod+Shift+Equal hotkey-overlay-title="Increase window height" { set-window-height "+10%"; }

    Mod+V hotkey-overlay-title="Toggle floating mode" { toggle-window-floating; }
    Mod+Shift+V hotkey-overlay-title="Switch focus between floating and tiled windows" { switch-focus-between-floating-and-tiling; }

    Print hotkey-overlay-title="Take area screenshot" { screenshot; }
    Ctrl+Print hotkey-overlay-title="Take full-screen screenshot" { screenshot-screen; }
    Alt+Print hotkey-overlay-title="Take window screenshot" { screenshot-window; }

    Mod+Escape hotkey-overlay-title="Toggle shortcut inhibition" allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E hotkey-overlay-title="Exit Niri" { quit; }
    Ctrl+Alt+Delete hotkey-overlay-title="Open power menu" { spawn-sh "dms ipc call powermenu open"; }

    Mod+Shift+P hotkey-overlay-title="Turn off monitors" { power-off-monitors; }
}
